<h1>Edit</h1>

<form method="post" action="/products/save">
	<input type="hidden" name="id" value="{{product.id}}">
	<p>
	<label for="name">Name:</label> <input type="text" name="name" id="name" value="{{product.name}}"><br/>
	</p>
	<p>
	<label for="price">Price:</label> <input type="number" name="price" id="price" value="{{product.price}}"><br/>
	</p>
	<p>
	<label for="parts">Parts:</label>
	<select name="parts" id="parts" multiple>
		{{#each parts}}
			<option value="{{id}}" {{ifSelected ../product id}}>{{name}}</option>
		{{/each}}
	</select>
	</p>
	<input type="submit" value="Save">
</form>
